/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}


body {

   background-color: orange;
   background-repeat:  no-repeat;
   background-attachment: fixed;
    background-position: center;
}
p.ex1 {
    padding-bottom: 10%;
}


#box {
   border: 0px solid black;
   padding: 0px;
   margin: 4 auto;
   width: 24.74em;
   backgd: black;
   background-clip: padding-box;;}

h1{
font-family: 'Gloria Hallelujah', cursive;



}
